<footer id="footer--site-footer">

	<div class="container">

		<div id="footer--site-logo">

				<img class="footer--site-logo--logo" src="{{ site.url | append: site.baseurl | append: '/assets/images/site/footer-logo.png'}}" alt="Indexmod Podcast">

				<div class="footer--site-logo--text">
					<h1 class="footer--site-footer--title"><strong>{{ site.title }}</strong></h1>
					<p class="footer--site-footer--author">Представленно <a href="indexmod.gq" title="Indexmod">Indexmod</a></p>
				</div>

		</div>

	</div>

</footer>
