Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@indexmod
0
00indexmod/gleb-heisler
 Code Issues 0 Pull requests 0 Projects 0 Wiki Security Insights Settings
gleb-heisler/styles.css
@indexmod indexmod Add files via upload
3c37d87 on 10 Mar
66 lines (52 sloc)  752 Bytes

body {
  max-width: 800px;
  margin: auto;
  padding: 22px;
  background: white;

}

h1 {
  font-family: 'Helvetica Neue';
  font-size: 100px;
  font-weight: 900;
  line-height: 1em;
  color: black;
}

p {
  font-family: 'Helvetica Neue';
  font-size: 30px;
  line-height: 2em;
  font-weight: 900;
  color: black;
}

div.name

{
  text-align: center;
}

div.stat

{
  text-align: right;
}


a:link {
  font-family: 'Helvetica Neue';
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

a:visited {
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

a:active {
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

img {
  width: 99%;
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
